.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
}

.gridCont {
  display: flex;
  width: 50vw;
  align-items: center;
  justify-items: center;
}

.staff {
  width: 14em;
  height: 3em;
  background-color: rgb(174, 175, 177);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1em;
  padding: 0;
}

.users {
  width: 14em;
  height: 3em;
  background-color: rgb(174, 175, 177);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1em;
  padding: 0;
}

.container {
  display: flex;
  position: absolute;
  box-sizing: border-box;
}
.listCont {
  align-items: center;
  justify-content: flex-start;
  width: 50vw;
  display: flex;
  flex-direction: row;
  height: 100vh;
  flex-wrap: wrap;
  position: relative;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
