.headerCont {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ec0000;
  border: 1px solid #ec0000;
  width: auto;
  height: 4.6em;
}
.navLeft {
  margin: 2em;
}

.navRight {
  margin: 2em;
}
