.staffCont {
  width: 17em;
  height: 87.1vh;
  margin: 2em;
  background-color: #eef6f8;
  margin: 0;
  padding: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
}

.staff {
  padding: 0;
}

.users {
  color: #797a7e;
  padding: 9px;
}
.placeholder {
  border: 2px white solid;
}

.button {
  background-color: white;
}
